@font-face {
  font-family: bill smith;
  src: url(./fonts/Bill-Smith.ttf);
}
h1 {
  color: lightgray;
  font-family: "bill smith" !important;
  font-size: 50px;
}

body {
  background-image: linear-gradient(gray, white);
}

footer a {
  color: inherit !important;
}

.background {
  background-color: black;
}

.nav {
  position: relative;
  top: 50px;
  font-weight: bold;
}

.nav-link {
  color: lightgray;
}

.fa-facebook-square:hover {
  color: #3b5998;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-facebook-square {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-twitter-square:hover {
  color: #1da1f2;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-twitter-square {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-linkedin-square:hover {
  color: #007bb5;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-linkedin-square {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-github-square:hover {
  color: #211f1f;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-github-square {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-instagram:hover {
  color: #c32aa3;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-instagram {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#contact-form {
  justify-content: center;
}

#jumbotron {
  background-image: url(images/adrien-olichon-RCAhiGJsUUE-unsplash.jpg);
  background-size: 100% 100%;
  position: relative;
}

#sticky-footer {
  flex-shrink: none;
}
