@font-face {
  font-family: bill smith;
  src: url(fonts/Bill-Smith.ttf);
}
h1 {
  color: lightgray;
  font-family: "bill smith";
  font-size: 50px;
}

body {
  background-image: linear-gradient(gray, white);
}

.background {
  background-color: black;
}

.nav {
  position: relative;
  top: 50px;
  font-weight: bold;
}

.nav-link {
  color: lightgray;
}

#contact-form {
  justify-content: center;
}

#jumbotron {
  background-image: url(images/adrien-olichon-RCAhiGJsUUE-unsplash.jpg);
  background-size: 100% 100%;
  position: relative;
}
